# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.venv/

# Database
*.db
*.sqlite3

# Logs
*.log

# Raw datasets
data/raw/

# PostgreSQL dumps
*.sql

# IDE
.vscode/
.idea/